@{
    ViewBag.Title = "Home Page";
}

<h1 class="text-center">Welcome to The GreenTree Website</h1>
<div class="text-center"><img src="~/images/20220817_185649_0000.png" width="50%"</div>



<body>
    <div class="row-no-gutters">

        <img src="~/images/wssw.drawio.png" width="50%" alt="classDiagram" />
    </div>

    <div class="row"><img src="~/images/first.png" width="50%" alt="useCase" /></div>
    <div class="row"><img src="~/images/second.png" width="50%" alt="useCase" /></div>
    <div class="row"><img src="~/images/third.png" width="50%" alt="useCase" /></div>
    <div class="row">
        <img src="~/images/fourth.png" / width="50% " alt="useCase" />
    </div>

   
</body>

@*<style>
    body {
        background-image: src(~'~/images/wssw.drawio.png');
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:cover;
    }
</style>*@