
@{
    ViewBag.Title = "Index";
}

<h2>About us</h2>

<div class="text-center"><img src="~/images/20220817_185649_0000.png" width="50%"</div>

<p>GreenTree is an Non-Profit organisation that has the vision of fighting climate change,
    one step at a time. Our initiative in this climate crisis is to plant trees by the help of volunteerism and 
    donations from helpful samaritans. We work with communities as well as other SDG focused organisations
    in changing the environment around us. Forests and trees play a crucial role in reducing the accumulation
    of greenhouse gases in the atmosphere and this is where our organisation plans to change that.</p>

